.center_of_the_page
  #processing-message.widget.panel.padding3.background_gray_clear{:style => "width:300px; height:80px;"}
    .content{:style => "width:300px;"}
      .ac.top
        %h2.royal_blue
          %p
            = t(:processing) + ' ....'